{% extends 'portfolio/layout.html' %}

{% block main %}
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog</title>
    </head>

    <link rel="stylesheet" href="{% static 'portfolio/css/blog.css' %}">
    <div class="titulo">
        <h2>Blog</h2>
    </div>

    <div class="container">
        {% for post in posts %}
            <div class="posts">
                    <div class="post">
                        <div class="titulo">
                            {{ post.titulo }}
                        </div>
                        <div class="comentario">
                            <p>{{ post.description }}</p>
                        </div>
                        <div class="post-bottom">
                            <div class="autor">
                                <p>{{ post.autor }}</p>
                            </div>
                            <div class="data">
                                <p>{{ post.data }}</p>
                            </div>
                        </div>

                    </div>
            </div>
        {% endfor %}
    </div>


    <div class="form-container">
        <div class="form">
            <h3>Novo Post</h3>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <a href="{% url 'portfolio:home' %}" class="btn btn-warning">Cancelar</a>
            <input type="submit" value="Gravar" class="btn btn-success" >
        </form>
    </div>
    </div>

{% endblock %}