{% extends 'portfolio/layout.html' %}

{% block main %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projecto</title>
    </head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/formulario.css' %}">
    <div class="titulo">
        <h2>Editar Projecto</h2>
    </div>

    <div class="form">
        <form action="{% url 'portfolio:editar_projecto' projecto_id %}" method="post">

            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>

            <input type="submit" value="Salvar">
            <a href="{% url 'portfolio:projectos' %}">Cancelar</a>

            <a href="{% url 'portfolio:apagar_projecto' projecto_id %}">Apagar</a>
        </form>
    </div>

{% endblock %}