{% extends 'portfolio/layout.html' %}

{% block main %}

{% load static %}

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>
    <script>
                fetch('https://api.ipma.pt/open-data/forecast/meteorology/cities/daily/1110600.json')
                .then(resp => resp.json())
                .then(data =>{
                    const tempmin = data.data[0].tMin
                    const tempmax = data.data[0].tMax
                    const nome = data.data[0].n

                    document.getElementById('temperatura_minima').innerHTML = 'Temperatura Mínima: ' + tempmin + 'ºC'
                    document.getElementById('temperatura_maxima').innerHTML = 'Temperatura Máxima: ' + tempmax + 'ºC'
                })




    </script>


    <link rel="stylesheet" href="{% static 'portfolio/css/home.css' %}">
    <section>
        <div class="hero">
            <div class="hero-text">
                <h1>„Se podes olhar, vê. Se podes ver, repara.“
                </h1>

            </div>

        </div>
    </section>
    <section class="section-about-me">
        <div class="about-me">
            <div class="about-me-text">
                <h2>Sobre mim</h2>
            <p>Estudante de Engenharia Informática na Universidade Lusófona de Humanidades e Tecnologias. Sempre
            motivada a aprender novas coisas e evoluir minhas habilidades.</p>
            </div>



        </div>
        <div class="iframe">
       <iframe width="560" height="315" src="https://www.youtube.com/embed/X2hEkoKL6Mk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>



    </section>

    <div class="lisboa">
                <h3>Tempo Lisboa</h3>
            </div>
    <div class="tempo">


            <div class="tempo-container">
                <div id="temperatura_minima">
                </div>
                <div id="temperatura_maxima">

                </div>

            </div>



        </div>


{% endblock %}