{% extends 'portfolio/layout.html' %}

{% block main %}



    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>
    <link rel="stylesheet" href="{% static 'portfolio/css/home.css' %}">
    <section>
        <div class="hero">
            <div class="hero-text">
                <h1>Alguma coisa motivacional</h1>
                <h2>e mais alguma coisa</h2>
            </div>

        </div>
    </section>
    <section>
        <div class="about-me">
            <div class="about-me-text">
                <h2>Sobre mim</h2>
            <p>Eu queria querer-te amar o amor
                Construir-nos dulcíssima prisão
                Encontrar a mais justa adequação
                Tudo métrica e rima e nunca dor
                Mas a vida é real e é de viés
                E vê só que cilada o amor me armou
                Eu te quero e não queres como sou
                Não te quero e não queres como és</p>
            </div>
        </div>
    </section>
{% endblock %}