{% extends 'portfolio/layout.html' %}

{% block main %}

	<h3>Licenciatura</h3>

    {% for cadeira in cadeiras %}
        <div>
        {{ cadeira.nome}}
        {% for professore in professores %}
            {% if professore.id == cadeira.docente_teorica.id %}
                <p>{{ professore.nome }}</p>
            {% endif %}
        {% endfor %}
        {% if request.user.is_authenticated %}
                <a href="{% url 'portfolio:editar_cadeira' cadeira.id %}">Editar</a>
        {% endif %}
        </div>

        {% if request.user.is_authenticated %}
        <a href="{% url 'portfolio:novo_cadeira' %}">Nova</a>
    {% endif %}
    {% endfor %}


    <a href="{% url 'portfolio:login' %}">Login</a>
    <a href="{% url 'portfolio:logout' %}">Logout</a>
{% endblock %}