{% extends 'portfolio/layout.html' %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/projectos.css' %}">
    <h1>Projectos</h1>
    <div class="projecto-container">
    {% for projecto in projectos %}

        <div class="projectos">
        <div class="projecto">

        <div class="projecto-image">
            <img src="{{projecto.image.url}}" alt="projecto" width="250" height="250">
        </div>

        <div class="projecto-content">
            <div class="projecto-title">
                <h3>{{ projecto.nome}}</h3>
            </div>

            <div class="projecto-text">
                <p>{{ projecto.descricao }}</p>
                 {% if request.user.is_authenticated %}
                    <a href="{% url 'portfolio:editar_projecto' projecto.id %}">Editar</a>
                 {% endif %}
            </div>
        </div>
        </div>
    {% endfor %}
</div>
    {% if request.user.is_authenticated %}
        <a href="{% url 'portfolio:novo_projecto' %}">Novo Projecto</a>
    {% endif %}

{% endblock %}