{% extends 'portfolio/layout.html' %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/projectos.css' %}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projecto</title>
    </head>
    <h1>Projectos</h1>
    <div class="all">

    <div class="grid1">

    <div class="projecto-container">
    {% for projecto in projectos %}

        <div class="projectos">
        <div class="projecto">

        <div class="projecto-image">
            <img src="{{projecto.image.url}}" alt="projecto" width="250" height="250">
        </div>

        <div class="projecto-content">
            <div class="projecto-title">
                <h3>{{ projecto.nome}}</h3>
            </div>

            <div class="projecto-text">
                <p>{{ projecto.descricao }}</p>
                 {% if request.user.is_authenticated %}
                    <a href="{% url 'portfolio:editar_projecto' projecto.id %}">Editar</a>
                 {% endif %}
            </div>
        </div>

        </div>


    {% endfor %}
        </div >
    </div>

    <div class="novo-container">
        <div >
            {% if request.user.is_authenticated %}
                <a href="{% url 'portfolio:novo_projecto' %}" class="button">Novo Projecto</a>
            {% endif %}

        </div>
    </div>

    </div>

    <div class="tfcs">
        <div class="titulo2">
            <h2>TFC</h2>
        </div>
        <div class="about-section">
            <p>Nesta secção temos alguns Trabalhos Finais Cursos realizado na Universidade Lusófona de Humanidades e Tecnologias
            . Trabalhos estes que possuem um tema e uma abordagem muito interessante do meu ponto de vista.</p>

        </div>

        <div class="tfc-container">

                {% for tfc in tfcs  %}
                    <div class="tfc">
                    <div class="tfc-titulo">
                        <p>{{ tfc.titulo }}</p>
                    </div>
                    <div class="tfc-description">
                        <p>{{ tfc.description }}</p>
                    </div>
                    <div class="autores">
                        <p>Autores: </p>
                        {% for autor in tfc.autores.all %}
                            <p>{{ autor }}</p>
                        {% endfor %}




                    </div>
                    <div class="orientadores">


                        {% for orientador in tfc.orientadores.all %}
                            <a href="{{ orientador.linkedin}}  ">{{ orientador.nome }}</a>
                        {% endfor %}


                    </div>

                    <div class="links">
                        <a href="{{ tfc.link }}  " class="link-tfc">Link do TFC</a>
                        <a href="{{ tfc.linkgithub }} ">Github</a>
                    </div>



                </div>
                {% endfor %}


        </div>
    </div>

</div>

{% endblock %}