@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

*{
    margin: 0;
}

.hero h1{
    font-family:'Oswald', sans-serif;
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;

    color: white;

}
.hero h2{
    color: white;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed

}

.hero-text{

    text-align: center;
}

.hero-text > *{
    padding: 3px;

}

.about-me{
    background-color: #f3fafa;
    height: 60vh;
    display: flex;
    justify-content: space-around;

}

.about-me-text{
    margin: 100px;
    text-align: center;
}

.about-me-text > p{
    font-size: 25px;
    line-height: 1.6;
    padding:100px;
    margin-top: 40px;
    padding: 15px;
}

.about-me-text > h2{
    font-family: Oswald;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
}

.tempo-container{
    border-radius: 10px;
    background: #1c8f94;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr ;
    gap: 2px 2px;
    grid-template-areas:
    "."
    ".";
    padding: 10px;

}

.tempo-container > div{
    color: white;
}

.tempo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20vh;
    background-color: #f3fafa;
}

h3{
   font-family: Oswald;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.lisboa{
    background-color: #f3fafa;
    padding: 30px;


}

#button{
    background-color: #222f34;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/*@media (max-width: 1000px) {
    .lisboa{
        margin-top: 50px;
    }
}

@media (max-width: 850px) {
    .lisboa{
        margin-top: 70px;
    }
}

@media (max-width: 800px) {
    .lisboa{
        margin-top: 500px;
    }
}

@media (max-width: 800px) {
    .lisboa{
        margin-top: 300px;
    }
}*/

iframe{
    align-self: center;
   /* margin-left: 700px;
    padding: 30px;*/
}

.iframe{
    display: flex;
    justify-content: space-around;
    background-color: #f3fafa;
    padding: 30px;
}

.horas-container{
    display: flex;
    justify-content: space-around;
    background-color: #f3fafa;
    padding-bottom: 30px;
}


#horas{
    font-size: 30px;
  color: #0c0c0c;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}