@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

a, u {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;

  font-family: sans-serif, 'Oswald';
}

body, html {
    height: 100%;
}

header {
  height: 10vh;
  background: #222f34;
  color: white;
  top: 0;

  /* alinhando logo e menu */
  display:flex;
  justify-content: space-between;
  align-items: center;
}

header div {
  font-size: 2em;
  padding: 1em;
}

header nav {
  display:flex;
  justify-contents: flex-end;
}


nav a {
  padding: 0 1em;
  text-decoration: none;
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

nav a:hover{
  color: cadetblue;
}




footer {
  height:5vh;
  display:flex;
  justify-content: flex-end;
  padding: 0 2vw;
  align-items: center;
}
