@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);


h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    margin:50px
}
.projectos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projecto-container{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
    align-items: center;

}

.projecto{
    display: flex;
    margin: 20px;
    padding: 20px;
    width: 500px;
    background-color: #222f34;
    border-radius: 7px;


}

.projecto-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.projecto-title h3{
    color: white;
    font-weight: lighter;
    text-transform: uppercase;
    margin-left: 15px;
}

.projecto-text > p{
    color: white;
    margin-left: 15px;
    text-align-all: justify;
}


.novo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 15px;
}




.button {
  background-color: #222f34;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover,
.button:focus {
  background-color: #69b9bb;
}

.titulo2{

    margin-top: 15px;
    display: flex;
    align-items: center;
     text-align: center;

}

.titulo2 > h2{
    font-family: 'Oswald';
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 20px;

}

.all{
    display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr ;
  gap: 0px 0px;
  grid-template-areas:
    "grid1"
    "tfcs";
}

.tfcs{

    margin-top: 20px;
    padding: 20px;
}

.grid1{
    display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr ;
  gap: 15px 15px;
  grid-template-areas:
    "."
    ".";
}

.tfc-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tfc{

    margin: 20px;
    padding: 20px;
    width: 500px;
    background-color: #222f34;
    border-radius: 7px;
    height: 300px;
}

.tfc-titulo {
    padding: 10px;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
}

div > p{
    color: white;
}

.about-section{
    text-align: center;
}

a{
    color: white;
}

a:hover{
    color: #6b6683;
}

.links{

    display: flex;
    justify-content: end;

}

.links > *{
    padding: 10px;
    background-color: cadetblue;
    border-radius: 10px;
}

.tfc-description{
    margin-top: 10px;
    margin-bottom: 15px;
}
.link-tfc{
    margin-right: 5px;
}